/*
 * stylesheet_portfolio.css
 * /portfolio/
*/

.arkosmith-digital {
    /* for highlighting special text */
    width: fit-content;
    font-family: "Ubuntu Mono";
    background-color: #fff;
    color: #000;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 0.2em !important;
    margin-bottom: 0.5em;
}

/* section: .landing */

.landing {
    position: relative;
    text-align: left;
    padding: 6em;
    background-image: url("/pics/tree-completed-5.png");
}

#welcome-pane .arkos {
    position: relative;
    margin-bottom: 2em;
}

#welcome-pane, #landing-panel-inner {
    text-align: left;
}

.welcome-header {
    letter-spacing: 0.3em;
    text-align: left;
    margin-bottom: 1em;
}

#welcome-description, .welcome-description {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: left;
}

/* end of section: .landing */